<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gyulai gépészet admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div>
                <img th:src="@{/img/logo.jpg}" alt="gyulaigepeszet"/>
            </div>

            <div>
                <h2>Gyulai gépészet adminisztráció</h2>
            </div>

            <!-- Login Form -->
            <form th:action="@{/login}" method="post">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="Felhasználónév">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Jelszó">
                <input type="submit" id="login-submit" name="login-submit" class="fadeIn fourth" value="Bejelentkezés">
            </form>

        </div>
    </div>
</body>
</html>