<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Gyulai gépészet</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div layout:fragment="content" th:remove="tag">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Árajánlat készítése</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div style="width: 100%;">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Létrehozás</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <form th:action="@{/qoute/create}" th:object="${createPriceQouteRequest}"
                                          method="post">
                                        <textarea th:field="${createPriceQouteRequest.description}"
                                                  class="form-control"
                                                  placeholder="Árajánlat leírása"
                                                  required="required"></textarea>
                                        <table class="table table-bordered table-hover" id="tab_logic">
                                            <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th class="text-center">
                                                    Termék név
                                                </th>
                                                <th class="text-center">
                                                    Darabszám
                                                </th>
                                                <th class="text-center">
                                                    Nettó egység ár
                                                </th>
                                                <th>
                                                    Bruttó egység ár
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="items">

                                            <tr th:each="prod, stat : ${createPriceQouteRequest.items}">
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    <input th:field="${createPriceQouteRequest.items[__${stat.index}__].name}"
                                                           placeholder='Termék név'
                                                           class="form-control"
                                                           required="required"/>
                                                </td>
                                                <td>
                                                    <input th:field="${createPriceQouteRequest.items[__${stat.index}__].count}"
                                                           placeholder='Darabszám'
                                                           class="form-control"
                                                           type="number"
                                                           required="required"/>
                                                </td>
                                                <td>
                                                    <input th:field="${createPriceQouteRequest.items[__${stat.index}__].nettoPrice}"
                                                           placeholder='Nettó Ár'
                                                           class="form-control"
                                                           type="number"
                                                           required="required"/>
                                                </td>
                                                <td>
                                                    <input th:field="${createPriceQouteRequest.items[__${stat.index}__].bruttoPrice}"
                                                           placeholder='Bruttó Ár'
                                                           class="form-control"
                                                           type="number"
                                                           required="required"/>
                                                </td>
                                                <td>
                                                    <button type="button" name="removeItem" th:value="${stat.index}"
                                                            class="btn btn-default">
                                                        Törlés
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" name="addItem" class="btn btn-default">Új hozzáadása
                                        </button>
                                        <button type="button" name="save" class="btn btn-default">Létrehozás</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div id="documentModalHolder">
            <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 th:fragment="documentView"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Generált árajánlat</h5>
                        </div>
                        <div class="modal-body" id="documentBody">
                            <iframe th:src="@{'data:application/pdf;base64,'+${document}}" th:width="600"
                                    th:height="800" scrolling="no"></iframe>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

</body>

</html>
